USE [master]
GO
/****** Object:  Database [Escuela]    Script Date: 9/26/2025 8:43:00 PM ******/
CREATE DATABASE [Escuela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Escuela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Escuela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Escuela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Escuela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Escuela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Escuela]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 9/26/2025 8:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [char](1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Activo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/26/2025 8:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[usuario] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([id], [Matricula], [Nombre], [Edad], [Sexo], [Email], [Activo]) VALUES (1, N'', N'', 0, N'M', N'', 0)
INSERT [dbo].[Alumnos] ([id], [Matricula], [Nombre], [Edad], [Sexo], [Email], [Activo]) VALUES (2, N'12345', N'Roberto Carlos', 25, N'M', N'coco452@gmail.com', 1)
INSERT [dbo].[Alumnos] ([id], [Matricula], [Nombre], [Edad], [Sexo], [Email], [Activo]) VALUES (8, N'445', N'Maria', 21, N'M', N'maria@ls.edu.gt', 0)
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
INSERT [dbo].[Usuarios] ([usuario], [contrasena]) VALUES (N'admin', N'12345')
GO
USE [master]
GO
